<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Read.</h1>
</div>
<div class="container">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-center">When there is time for details....</p>
  </div>
</div>
 
<div class="container">
  <div class="row">
    <h2 class="col border-bottom">Post</h2>
  </div>

  <div class="row">

    <div class="col">
        <img class="img-fluid" src="/images/blogNotebookGreyBubbles.png" alt="blank personal notebook" />
    </div>

    <div class ="col d-inline-flex">
        <ul>
              <li>
                <div class="row">
                <h2 class="d-inline-flex">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <img  src="/images/chat-square-heart.svg" alt="heart in speech bubble" height="30">
                </div> <%=title%></h2> 
                </div>
                  <p class="date"><%=date%></p>
                  <p><%=body%></p>
              </li>
        </ul>
    </div>  
</div>

<%- include("partials/footer.ejs") %>